@page "/"

<PageTitle>Voetbal Opstelling Generator</PageTitle>

<div class="container">
    <h1>⚽ Voetbal Opstelling Generator</h1>
    <div class="subtitle">4-3-3 Formatie (1 CAM, 2 CDM) • 2 x 30 minuten</div>
    
    <!-- Navigation to new squad creator -->
    <div class="alert alert-info mb-4">
        <h5>🆕 Nieuw: Verbeterde Squad Creator</h5>
        <p>Probeer de nieuwe squad creator waar je gemakkelijk kunt instellen wie keeper is, wie afwezig is, en hoeveel minuten elke speler moet spelen.</p>
        <a href="/squad-creator" class="btn btn-primary">Ga naar Squad Creator</a>
    </div>
</div>
